<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Bảo hiểm xã hội</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
        rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <link href="css/style.scss" rel="stylesheet" />

  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>

<body>
<div class="hero_area">
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container">
        <a class="navbar-brand" href="index.html">
          <img style="border-radius: 50%" src="images/bhxh.png" alt="" />
          <div style="margin-left: 30px">
            <div>Giao dịch điện tử</div>
            <div>Bảo hiểm xã hội</div>
          </div>
        </a>
        <div class="contact_nav" id="">
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" href="">
                <img src="images/location.png" alt="" />
                <span>Vị trí</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html">
                <img src="images/call.png" alt="" />
                <span>+ 01 1234567890</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="service.html">
                <img src="images/envelope.png" alt="" />
                <span>demo@gmail.com</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

  </header>
  <!-- end header section -->
  <!-- slider section -->
  <section class=" slider_section position-relative">
    <div class="container">
      <div class="custom_nav2">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex  flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item">
                  <a class="nav-link" href="#" th:if="${session.user != null}">
                    <span th:text="${session.user.fullname}"></span>
                  </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" th:unless="${session.user != null}">
                  <a class="nav-link" href="login">Login</a>
                </li>
                <li class="nav-item" th:if="${session.user != null}">
                  <a class="nav-link" href="registration">Đăng ký tham gia BHXH tự nguyện</a>
                </li>
                <li class="nav-item" th:if="${session.user != null}">
                  <a class="nav-link" href="insurance">Đóng tiền</a>
                </li>
                <li class="nav-item" th:if="${session.user != null}">
                  <a class="nav-link" href="registration">Đăng kí người dùng</a>
                </li>
                <li class="nav-item" th:if="${session.user != null}">
                  <a class="nav-link" id="btn-sign-out" href="user/signout">Đăng xuất</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div class="slider_container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                  <div class="detail-box">
                    <h2>
                      Chính sách an sinh xã hội
                    </h2>
                    <h1>
                      Bảo hiểm xã hội
                    </h1>
                    <p>
                      Phương thức bảo vệ trước những tổn thất tài chính. Đó là hình thức
                      quản lý rủi ro, chủ yếu được sử dụng để bảo hiểm cho những rủi ro ngẫu
                      nhiên hoặc tổn thất có thể xảy ra"
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-7 offset-md-6 offset-md-5">
                  <div class="detail-box">
                    <h2>
                      Chính sách an sinh xã hội
                    </h2>
                    <h1>
                      Quyền lợi khi tham gia bảo hiểm xã hội
                    </h1>
                    <p>
                      Người tham gia BHXH sẽ được hưởng các quyền lợi về tiền trợ cấp nhằm
                      bảo đảm thay thế, bù đắp sự thiếu hụt về mặt tài chính cho người tham
                      và gia đình của họ khi gặp phải những rủi ro trong cuộc sống. Trong
                      trường hợp người tham gia không muốn tiếp tục tham gia BHXH thì có thể
                      rút BHXH 1 lần khi có yêu cầu. Mức hưởng sẽ căn cứ theo mức tiền lương
                      đóng vào Quỹ hàng tháng và thời gian tham gia theo quy định.
                    </p>
                    <div class="btn-box">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end slider section -->
</div>

<section class="container-fluid footer_section ">
  <p>
    &copy; 2019 All Rights Reserved. Design by
    <a href="https://html.design/">Free Html Templates</a>
  </p>
</section>
<!-- footer section -->

<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

<script>
  function openNav() {
    document.getElementById("myNav").classList.toggle("menu_width");
    document
            .querySelector(".custom_menu-btn")
            .classList.toggle("menu_btn-style");
  }
</script>
</body>

</html>
