<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Thanh toán BHXH</title>
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css"/>
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap"
          rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet"/>
</head>
<body class="sub_page">
<div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container">
                <a class="navbar-brand" href="index.html">
                    <img style="border-radius: 50%" src="images/bhxh.png" alt=""/>
                    <div style="margin-left: 30px">
                        <div>Giao dịch điện tử</div>
                        <div>Bảo hiểm xã hội</div>
                    </div>
                </a>
                <div class="contact_nav" id="">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <img src="images/location.png" alt=""/>
                                <span>Vị trí</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="service.html">
                                <img src="images/call.png" alt=""/>
                                <span>+ 01 1234567890</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="service.html">
                                <img src="images/envelope.png" alt=""/>
                                <span>demo@gmail.com</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class=" slider_section position-relative">
        <div class="container">
            <div class="custom_nav2">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex  flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item ">
                                    <a class="nav-link" th:href="@{/home}">Trang chủ<span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </section>
    <!-- end slider section -->
</div>
<!-- contact section -->
<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                <span>Thanh toán BHXH</span>
            </h2>
        </div>
        <h4 class="row">Bạn còn hoá đơn BHXH thanh toán đang chờ đóng!</h4>
        <div class="row">
            <div class="col-md-6">Tên người đóng: <span th:text="${customerName}"></span></div>
            <div class="col-md-6">Mã số BHXH người hưởng BHXH: <span th:text="${customerBhxhId}"></span>  </div>
        </div>
        <div class="row">
            <div class="col-md-6">Thời gian tổng cộng đã tham gia BHXH: <span th:text="${totalMonthParticipated} + 'tháng'"></span></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">Chu kỳ đóng: <span th:text="${textPeriodPaying}"></span></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6"><strong>Số tiền cần thanh toán: </strong><span th:text="${total} +' VNĐ'"></span></div>
        </div>
        <div class="row mt-3">
            <form th:action="@{/insurance/pay}" method="post">
                <button type="submit" class="btn btn-primary">Thanh toán</button>
            </form>
        </div>
    </div>
</section>
<!-- end contact section -->
<!-- footer section -->
<section class="container-fluid footer_section ">
    <p>&copy; 2019 All Rights Reserved. Design by <a href="https://html.design/">Free Html Templates</a></p>
</section>
<!-- footer section -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script>
    function openNav() {
        document.getElementById("myNav").classList.toggle("menu_width");
        document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style");
    }
</script>
</body>
</html>
